.login-btn { 
    border-radius: 45px!important;
    background-color:transparent!important;
    color:#08a0e9!important;
    font-weight: bolder!important;
    border: #08a0e9 2px solid!important;
}

.login-btn:hover{
    background-color: #d0e9f5d3!important;
}

