.login-btn { 
    border-radius: 45px!important;
    background-color:transparent!important;
    color:#08a0e9!important;
    font-weight: bolder!important;
    border: #08a0e9 2px solid!important;
}

.login-btn:hover{
    background-color: #d0e9f5d3!important;
}

.login-btn:focus{
    background-color:unset;
}

.loading-span {
    margin:10px;
}

.login-form {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 30px;
    padding: 10px 30px;
}

@media screen and (min-width:1200px) {
    .login-form {
        padding: 10px 50px;
    }
}

@media screen and (max-width:576px) {
    .login-form {
        padding: 20px;
    }
}

