.modal-main-container {
    border-radius: 25px;
}
.character-count-div {
    text-align: right;
}

.twitter-icon-container {
    padding: 10px 5px;
}

.twitter-icon {
    margin-left: 46%;
}

.next-btn {
    border-radius: 45px!important;
    border:unset!important;
    font-weight: bolder!important;
    background-color:#08a0e9!important;
    font-size: 14px!important;
    width: 150px;
}

.sign-up-btn-container {
    text-align: center;
}

.sign-up-btn-container button {
    margin: 5px auto;
}

.sign-up-btn-container button, .sign-up-btn-container span {
    display: block;
}

.modal-content {
    border-radius: 15px!important;
}

.modal-body {
    /* height: 40vh; */
}