.dropdown-icon-container{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 2px 0px;
}

@media screen and (max-width:768px) {
  .dropdown-icon-container{
    width: 95%;
  }
}

@media screen and (max-width:992px) {
  .dropdown-icon-container {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width:420px) {
  .dropdown-icon-container {
    width: 95%;
  }
}