.dropdown-icon-container{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 5px 0px;
}

@media screen and (max-width:768px) {
  .dropdown-icon-container{
    width: 95%;
  }
}
