.threads-icons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.thread-tweet {
    font-weight: bolder;
}

.thread-tweet-and-date-container {
     margin-top: 10px;
}
.thread-tweet-and-date-container p {
    display: block;
}

.thread-interaction-container p {
    margin-right:5px;
}

.loading-comment-container {
    text-align: center;
    margin: 10px;
}